<div class="container">
  <!-- HEADER PARTIAL -->
  <ul class="menu">
    <li ng-include="'/app/partials/header.html'"></li>
  </ul>

  <!-- FOLOWERS INFO -->
  <div class="center-body">
    <h3>These GitHub Users Are Following {{user_name}}:</h3>
    <div ng-repeat="follow in followers">
      <img src="{{follow.avatar_url}}" class="followers-avatar"> 
      <a href="https://github.com/{{follow.login}}">{{follow.login}}</a>
    </div>
  </div>

  <!-- <table style="width:100%">
    <tr ng-repeat="follow in followers">
      <td> <img src="{{follow.avatar_url}}" class="followers-avatar"></td>
      <td><a href="https://github.com/{{follow.login}}">{{follow.login}}</a></td> 
    </tr>
  </table> -->
</div>